<% if user_signed_in? %>
<h1>Be Requested List</h1>

<table class="table table-hover table-striped table-bordered">
    <thead class="table-dark text-light">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th colspan="2"></th>
        </tr>
    </thead>

    <tbody>
        <% @users.each do |user| %>
        <tr>
            <td><%= user.id %></td>
            <td>
                <%= link_to user.name, user, class: 'text-decoration-none text-success' %>
            </td>
            <td><%= user.email %></td>
            <td><%= user.phone %></td>
            <td>
                <%= link_to 'Un Accept', 
                    un_accept_path(user.id), 
                    class: 'btn btn-outline-warning d-block mx-auto', 
                    method: :delete,
                    data: { confirm: 'Are you sure?' } %>
            </td>
            <td>
                <%= link_to 'Accept', 
                    accept_friend_path(user.id), 
                    class: 'btn btn-outline-success d-block mx-auto', 
                    method: :patch
                %>
            </td>
        </tr>
        <% end %>
    </tbody>
</table>

<br />
<% end %>
